<!DOCTYPE html>
<html lang="en">
<head>
  <title>CES Uploader</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>