<table>
  <tr>
    <th>Type</th>
    <th>Link</th>
  </tr>

  <% @samples.each do |sample| %>
  <tr>
    <td><%= sample.business_type %></td>
    <td><a href="/api/samples/<%= sample._id %>">Show</a></td>
  </tr>
  <% end %>
</table>