<div class="container">

  <div class="page-header">
    <h1>Sample Data</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Business Type</th>
        <th>Collected On</th>
        <th>Weight Units</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Retail</td>
        <td>2014-04-01T00:00:00Z</td>
        <td>lbs</td>
      </tr>
    </tbody>
  </table>

</div>
