<div class="container">

  <div class="page-header">
    <h1>Upload new sample</h1>
  </div>

  <div class="row">
    <div class="col-md-4 panel panel-default">
      <div class="panel-body">
        <form action="/submit" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="file" id="file"></input>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Upload</button>
        </form>
      </div>
    </div>
  </div>

</div>
